/**
 * Style sheet for CalendarPickerControl
 * System-colors theme
 */

div.calendarbutton{
	position: absolute;
	width: 105px;
	height: 22px;
	background:#000;
	vertical-align:text-top;

}

#CalendarPickerControl{
	background-color: #f0f0f0;
	width: 240px;
	margin-left:-200px;
	margin-top:5px;

	

}

#CalendarPickerControl table.calframe{position:fixed; 
	width: 240px;
	border: 1px solid #c4c4c4;
	background-color:#f0f0f0;
	text-align: center;
	padding:0px;
	margin-left:85%;
        margin-top: 70px;
	box-shadow:0px 2px 4px #bbbbbb;
}

#CalendarPickerControl td.monthname{
	
	padding:8px;
	font: normal 13px Arial;
	color:#e0e0e0;
	font-weight: bold;
	background-color:#383838;
}

#CalendarPickerControl td.monthnameLNX{
	width: 100%;
	font: normal 13px Arial;
	color:#ff0000;
	font-weight: bold;
	background-color:#ff0000;
}

#CalendarPickerControl table.navigation{
	width: 100%;
	text-align: center;
}

#CalendarPickerControl td.navbutton{
	font: normal 11px Arial;
	color: #666666;
	font-weight: bold;
	background-color: #f4f4f4;
	border:1px solid #f7f7f7;
	cursor: pointer;
}

#CalendarPickerControl td.navbutton:hover{
		box-shadow: inset 1px #408293;
	background:#1b9dcb;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #3a7483;
}

#CalendarPickerControl span.yearbutton{
	cursor: pointer;
}

#CalendarPickerControl span.yearbutton:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.dayname{
	font: normal 10px Arial;
	color:#666666;
	font-weight: bold;
	background-color: #f2f2f2;
}

#CalendarPickerControl td.daynameLNX{
	font: normal 11px Arial;
	color: highlighttext;
	font-weight: bold;
	background-color:#FF0000;
}

#CalendarPickerControl td.today{
	font: normal 11px Arial;
	background-color: #373737;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #000;
	
}

#CalendarPickerControl td.today:hover{
	text-decoration: underline;
	background-color:#4c4c4c;
	border:1px solid #6b6b6b;

}

#CalendarPickerControl td.current{
	font: normal 11px Arial;
	background-color: #1b9dcb;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #848484;
	
}

#CalendarPickerControl td.current:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.day{
padding:3px 5px 3px 5px;
font-weight:bold;
font: normal 10px Arial;
	color: #414141;
	text-decoration: none;
	cursor: pointer;
	border-top:1px solid #ffffff;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	border-left:1px solid #ffffff;
	background-color: #dedede;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedede), to(#ededed));
	background: -webkit-linear-gradient(top, #ededed, #dedede);
	background: -moz-linear-gradient(top, #ededed, #dedede);
	background: -ms-linear-gradient(top, #ededed, #dedede);
	background: -o-linear-gradient(top, #ededed, #dedede);
}

#CalendarPickerControl td.day:hover{
		
		box-shadow: inset 1px #408293;
	background:#1b9dcb;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #3a7483;
}

#CalendarPickerControl td.weekend{padding:3px 5px 3px 5px;
font-weight:bold;
font: normal 10px Arial;
	color: #9a9999;
	text-decoration: none;
	cursor: pointer;
	border-top:1px solid #ffffff;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	border-left:1px solid #ffffff;
	background-color: #dedede;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedede), to(#ededed));
	background: -webkit-linear-gradient(top, #ededed, #dedede);
	background: -moz-linear-gradient(top, #ededed, #dedede);
	background: -ms-linear-gradient(top, #ededed, #dedede);
	background: -o-linear-gradient(top, #ededed, #dedede);
}
#CalendarPickerControl td.weekend:hover{
	
		box-shadow: inset 1px #408293;
	background:#1b9dcb;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #3a7483;
}
#CalendarPickerControl td.dayothermonth{
font-size:9px; color:#eeeeee;
}

